.accordion-menu {
    margin-block-start: 1.2em;
    margin-block-end: 1.2em;
    padding: 10px;

    .accordion-menu-title {
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        font-size: 1rem;
        padding: 5px;
        cursor: pointer;
    }

    .open-accordion, .accordion-menu-title:hover {
        background-color: #ccffff;
    }

    .accordion-menu-content {
        display: none;
        overflow: auto;
        margin-top: 5pt;
        
        li {
            margin: 1.0em;
        }

        li p {
            margin: 0.2em;
        }

        &.open {
            display: block;
        }
    }
}

